In [8]:
import os
import pandas as pd

filepath = os.path.join("Data","Crimes_and_Clearances_with_Arson-1985-2019.csv")

df = pd.read_csv(filepath, low_memory=False)
df.head()

,Year,County,NCICCode,Violent_sum,Homicide_sum,ForRape_sum,Robbery_sum,AggAssault_sum,Property_sum,Burglary_sum,...,MVLARnao_sum,MVPLARnao_sum,BILARnao_sum,FBLARnao_sum,COMLARnao_sum,AOLARnao_sum,LT400nao_sum,LT200400nao_sum,LT50200nao_sum,LT50nao_sum
0,1985,Alameda County,Alameda Co. Sheriff's Department,427,3,27,166,231,3964,1483,...,930,109,205,44,11,475,753,437,440,498
1,1985,Alameda County,Alameda,405,7,15,220,163,4486,989,...,538,673,516,183,53,559,540,622,916,1159
2,1985,Alameda County,Albany,101,1,4,58,38,634,161,...,147,62,39,46,17,37,84,68,128,138
3,1985,Alameda County,Berkeley,1164,11,43,660,450,12035,2930,...,3153,508,611,1877,18,496,533,636,2793,4274
4,1985,Alameda County,Emeryville,146,0,5,82,59,971,205,...,207,153,16,85,24,169,217,122,161,164

In [19]:
df['County']=df['County'].str.replace(' County', '')
df

,Year,County,NCICCode,Violent_sum,Homicide_sum,ForRape_sum,Robbery_sum,AggAssault_sum,Property_sum,Burglary_sum,...,MVPLARnao_sum,BILARnao_sum,FBLARnao_sum,COMLARnao_sum,AOLARnao_sum,LT400nao_sum,LT200400nao_sum,LT50200nao_sum,LT50nao_sum,County2
0,1985,Alameda,Alameda Co. Sheriff's Department,427,3,27,166,231,3964,1483,...,109,205,44,11,475,753,437,440,498,Alameda County
1,1985,Alameda,Alameda,405,7,15,220,163,4486,989,...,673,516,183,53,559,540,622,916,1159,Alameda County
2,1985,Alameda,Albany,101,1,4,58,38,634,161,...,62,39,46,17,37,84,68,128,138,Alameda County
3,1985,Alameda,Berkeley,1164,11,43,660,450,12035,2930,...,508,611,1877,18,496,533,636,2793,4274,Alameda County
4,1985,Alameda,Emeryville,146,0,5,82,59,971,205,...,153,16,85,24,169,217,122,161,164,Alameda County
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25675,2019,NaN,Yuba Co. Sheriff's Department,204,5,21,37,141,847,316,...,8,6,38,1,276,234,70,94,122,NaN
25676,2019,NaN,Marysville,116,2,20,23,71,541,81,...,14,7,47,2,68,110,67,74,73,NaN
25677,2019,NaN,Wheatland,6,0,0,1,5,43,8,...,3,1,7,1,5,10,4,10,2,NaN
25678,2019,NaN,Union Pacific RR - Yuba,0,0,0,0,0,2,0,...,0,0,0,0,2,0,0,1,1,NaN
25679,2019,NaN,CA Highway Patrol - Yuba,0,0,0,0,0,411,0,...,61,0,0,0,9,28,1,0,63,NaN

In [7]:
df.columns

Index(['Year', 'County', 'NCICCode', 'Violent_sum', 'Homicide_sum',
       'ForRape_sum', 'Robbery_sum', 'AggAssault_sum', 'Property_sum',
       'Burglary_sum', 'VehicleTheft_sum', 'LTtotal_sum', 'ViolentClr_sum',
       'HomicideClr_sum', 'ForRapeClr_sum', 'RobberyClr_sum',
       'AggAssaultClr_sum', 'PropertyClr_sum', 'BurglaryClr_sum',
       'VehicleTheftClr_sum', 'LTtotalClr_sum', 'TotalStructural_sum',
       'TotalMobile_sum', 'TotalOther_sum', 'GrandTotal_sum',
       'GrandTotClr_sum', 'RAPact_sum', 'ARAPact_sum', 'FROBact_sum',
       'KROBact_sum', 'OROBact_sum', 'SROBact_sum', 'HROBnao_sum',
       'CHROBnao_sum', 'GROBnao_sum', 'CROBnao_sum', 'RROBnao_sum',
       'BROBnao_sum', 'MROBnao_sum', 'FASSact_sum', 'KASSact_sum',
       'OASSact_sum', 'HASSact_sum', 'FEBURact_Sum', 'UBURact_sum',
       'RESDBUR_sum', 'RNBURnao_sum', 'RDBURnao_sum', 'RUBURnao_sum',
       'NRESBUR_sum', 'NNBURnao_sum', 'NDBURnao_sum', 'NUBURnao_sum',
       'MVTact_sum', 'TMVTact_sum', 'OMVTact_sum', 'PPLARnao_sum',
       'PSLARnao_sum', 'SLLARnao_sum', 'MVLARnao_sum', 'MVPLARnao_sum',
       'BILARnao_sum', 'FBLARnao_sum', 'COMLARnao_sum', 'AOLARnao_sum',
       'LT400nao_sum', 'LT200400nao_sum', 'LT50200nao_sum', 'LT50nao_sum'],
      dtype='object')